.section-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: @dark-foreground;
  border-radius: 8px;
  margin: 1rem 0.8rem;

  h2,
  h3 {
    color: @white;
  }
  .avatar {
    margin-top: 0.8rem;
  }
  .content {
    margin: auto 0.8rem;
  }
  .ant-btn {
    margin-bottom: 0.8rem;
  }
}
