{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "prettier/react",
    "prettier/standard",
    "react-app"
  ],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "@typescript-eslint/explicit-function-return-type": "off",
    "prettier/prettier": ["error", {
      "trailingComma": "all",
      "tabWidth": 2,
      "useTabs": false,
      "semi": true,
      "arrowParens": "avoid",
      "singleQuote": true
    }]
  },
  "plugins": ["prettier", "react", "react-hooks"],
  "env": {
    "jest": true
  }
}
