.page-index {
  display: grid;
  grid-template-columns: minmax(20rem, 1fr);
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 575.99px) {
  .page-index {
    grid-template-columns: 1fr 10fr 1fr;
    justify-content: center;

    .section-header,
    .section-frontend {
      grid-column: 2 / span 1;
    }
  }
}
